:root {
  --font-sans:
    Rubik, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;

  --color-choco-50: #d8d5d4;
  --color-choco-100: #c7c1c0;
  --color-choco-200: #b5a8a4;
  --color-choco-300: #967d7a;

  --color-mint-50: #e2ede6;
  --color-mint-100: #cce3d9;
  --color-mint-200: #70a794;
  --color-mint-300: #4f8d88;

  --color-thai-200: #e29376;
  --color-thai-300: #a96c4a;
}

::selection {
  background-color: var(--color-thai-200);
  color: #fff;
}

::-moz-selection {
  background-color: var(--color-thai-200);
  color: #fff;
}
